$profileSize: 100px;

.profile-background {
  border-radius: 20%;
  height: $profileSize;
  width: $profileSize;
  //margin: 0 auto;
  background: url("assets/img/logos/background_150.svg") no-repeat center center;
  background-size: cover;
  box-shadow: 0 1px 26px grey;
  overflow: hidden;
}

.profile-background img {
  border-radius: 0;
  width: $profileSize;
  height: $profileSize;
  margin-top: 0;
  margin-left: 0;
}

.form-actions {
  margin-bottom: -38px;
}
