<section class="d-flex justify-content-center align-items-center full-height-vh">
  <div class="card triangle-background text-center round" style="box-shadow: 0 5px 40px grey;">
    <div class="card-img overlap">
      <img alt="" class="mb-1" src="assets/img/portrait/avatars/avatar-08.png" width="190">
    </div>
    <div class="card-body">
      <h2 class="white">{{'auth.forgotPassword.title' | translate}}</h2>
      <form class="px-4 pt-2" #forgotPassForm="ngForm" (ngSubmit)="onSubmit()"  novalidate>
        <div class="form-body">
          <div>
            <p class="flamingo text-uppercase font-small-1 text-center mt-1" style="line-height: 14px;">Please email the administrator at <a href="mailto:admin@orangebananaspy.com?Subject=ResetPassword" target="_top">admin@orangebananaspy.com</a> as this part of the site is under construction</p>
          </div>
          <div class="form-group">
            <input type="email" class="form-control form-control-brickRed brickRed round" [(ngModel)]="forgotPassModel.userEmail" #inputEmail="ngModel" name="inputEmail" id="inputEmail" placeholder="{{'auth.signIn.emailPlaceholder' | translate}}" required email>
            <div [hidden]="inputEmail.valid || inputEmail.pristine">
              <p class="flamingo text-uppercase font-small-1 text-center mt-1" style="line-height: 14px;">{{'auth.signIn.emailError' | translate}}</p>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-raised btn-round btn-brickRed shadow-z-2 btn-block disabled" [disabled]="!forgotPassForm.form.valid">{{'auth.signIn.submit' | translate}}</button>
          </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <a class="white text-uppercase mt-2 mb-2" [routerLink]="['/auth/sign-in']"><i class="ft-arrow-left mr-1"></i>{{'auth.signIn.title' | translate}}</a>
          <a class="white text-uppercase mt-2 mb-2" [routerLink]="['/auth/sign-up']"><i class="ft-user-plus mr-1"></i>{{'auth.signUp.title' | translate}}</a>
        </div>
      </form>
    </div>
  </div>
</section>
