.triangle-background {
  background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("assets/img/logos/background_400x600.svg") no-repeat center center;
  width: 400px;
  background-size: cover;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(#EE4540, 0.35);
  margin: 1em -12px 0px -12px;
  padding: 0;
}
